body {
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
}
.jumbotron {
    background: url('images/exterier-leto.jpg') center center;
    background-size: cover;
    color: white;
}
.jumbotron h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.pricing .card {
    margin-bottom: 1rem;
}
.card-img-top {
    transition: transform 0.3s;
}
.card-img-top:hover {
    transform: scale(1.05);
}

.carousel-inner img {
    width: 100%;
    height: 500px; /* Nastavení pevné výšky pro obrázky */
    object-fit: contain; /* Zajištění správného zobrazení obrázků */
}
